
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Freebie: 4 Bootstrap Gallery Templates</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="grid.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>

</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><%= image_tag src="Pop_logo.png", size:"70"%></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Home', pictures_path %></li>
          <li><a href="#">POPular Artists</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <%if user_signed_in?%>
            <li><%= link_to current_user.email, edit_user_registration_path %></a></li>
            <li><%= link_to 'My Gallery', user_path(current_user[:id])%></a></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete  %></a></li>
          <%else%>
            <li><%= link_to 'Sign Up', new_user_registration_path %></a></li>
            <li><%= link_to 'Login', new_user_session_path %></a></li>
          <%end%>
        </ul>
      </div>
    </div>
  </nav>




<div class="container gallery-container">
    <h1>My Gallery</h1>
    <h3><%= @user.email %></h3>


    <span class='addpic btn btn-success active' role="button"><%= link_to "Add Picture", new_picture_path %></span>

    <div class="profile-gallery">


    <div class="tz-gallery">
      <div class="profile-gallery">
      <div  class="row ">
        <% @pictures.each do |pic| %>
          <div class="profile-pic lightbox col-sm-4">
            <%= image_tag pic.image_file_name, size: "200" %>
            <div class="delete-button btn btn-primary active">
              <%= link_to 'Delete', {action: :destroy, id: pic.id, controller: :pictures}, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        <% end %>
      </div>



    </div>
    <style>
      .col-sm-6 .col-md-4{

      }
    </style>
</div>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script> -
<script>
    baguetteBox.run('.tz-gallery');
</script>
</body>
<footer><footer class="container-fluid text-center">
  <p>   <i class="fa fa-copyright" aria-hidden="true"></i> ARTPOP! </p>

</html>
